{% extends "blog/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <img class="rounded-circle me-3" style="width: 70px; height: 70px;" src="{{ post.author.profile.image.url }}" alt="Post creator image.">
                        <div>
                            <h2 class="card-title">{{ post.title }}</h2>
                            <small class="text-muted">{{ post.author }} | {{ post.date_posted|date:"d M Y, H:i" }}</small>
                            <p class="card-text mt-3">{{ post.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="card mb-4">
        <div class="card-body">
            <h2>Sorry! You can't see the posts.</h2>
            <p><a href="{% url 'login' %}">Log in</a> to see the posts.</p>
        </div>
    </div>

    {% endif %}
{% endblock %}
