{% extends "blog/base.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend class="mb-4">Delete Post</legend>
                    <p>Are you sure you want to delete the post "{{ object.title }}" ?</p>
                    <div class="mb-3">
                    </div>
                </fieldset>
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}" type="submit">No, I've changed my mind.</a>
            </form>
        </div>
    </div>
{% endblock %}